section#cover-image-home {
    background-color: white;
    height: 100%;
    opacity: 0;
    transition: opacity 2s cubic-bezier(.23,1,.32,1);
    background-position-x: 31%;

    @include media-breakpoint-up(md) { 
        background-position-x: 50%;
    }

    &.shark {    
        background-image: url('/images/hero/shark.jpg');
        opacity: 1;

    }
    &.blue {    
        background-image: url('/images/hero/blue.jpg');
        opacity: 1;
    }
    &.weedy {    
        background-image: url('/images/hero/weedy.jpg');
        opacity: 1;
    }
}

.cover_section {
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main_section {
    position: relative;
    z-index: 1;
}

a.main_logo {
    font-size: 40px;
    line-height: 45px;
    letter-spacing: 0px;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.bg-logo-container {
    position: relative;
    z-index: 2;
}

a.main_logo img {
    max-width: 100%;
    height: auto;
    padding: 0px 1.4rem;
    display: none;
    &.short {
        @include media-breakpoint-up(md) { 
            display: block;
        }
    }
    &.tall {
        @include media-breakpoint-down(md) { 
            display: block;
        }
    }
}

.cover-container {
    padding-top: 8rem;
    padding-bottom: 18rem;
    @include media-breakpoint-up(md) { 
        padding-top: 10rem;
        padding-bottom: 24rem;
    }
}