@import "variables";

nav {
    &.navbar {
        background-color: white!important;
        min-height: $navbarHeight;
        transition: all 0.4s ease;
        border-bottom: 1px solid rgba(0,0,0,.2);

        &.scrolled {
            min-height: $navbarHeight - 1.6rem;
        }
    }

    .navbar-toggler {
        margin-top: 0.6rem;
    }

    .navbar-brand {
        height: 3.8rem;
        display: flex;
        align-items: center;

        img { 
            height: 1.9rem; 
            @include media-breakpoint-up(xs) { height: 2.2rem; }
        }
    }

    $horizontalPadding: 3rem;
    .navbar-container {
        width: 100%;
        padding-left: $horizontalPadding;
        padding-right: $horizontalPadding;
    }

    .navbar-toggler {
        z-index: 1031;
    }

    .nav-item > .nav-link {
        font-weight: 600;
        // color: $brand-primary!important;
    }

    @include media-breakpoint-up(lg) {
        .nav-link {
            $padding: 1.5rem;
            padding-left: $padding!important;
            padding-right: $padding!important;
        }
    }
}