@-webkit-keyframes zoomInLazy {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomInLazy {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}



section.portfolio {

    h1, h2, h3, h4, h5 {
        font-weight: bolder;
    }

    img.lazyloaded {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
    }
    

}