<nav 
    class="navbar navbar-toggleable-md navbar-light animated fadeIn"
    role="navigation"
    data-toggle="sticky-onscroll"
>
    
    <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container navbar-container">            
        <a class="navbar-brand" href="/">
            <img src="{{ site.base }}/images/logo.png" height="40" class="d-inline-block align-top" alt="Dive with Passion">    
        </a>
        
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-center">
                <li class="nav-item">
                    <a class="nav-link  {% if page.slug == 'portfolio' %}active{% endif %}" href="{{ site.base }}/portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  {% if page.slug == 'blog' %}active{% endif %}" href="{{ site.base }}/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  {% if page.slug == 'about' %}active{% endif %}" href="{{ site.base }}/about">About</a>
                </li>
            </ul>
            <div class="social-links d-flex flex-row justify-content-between align-items-center">
                {% for social in site.data.social %}
                <a href="{{social.link}}" class="" target="_blank">
                    <span><div class="{{ social.class }}" data-animation="none"></div></span>
                </a>{% endfor %}
            </div>
        </div>
    </div>
</nav>